@import 'typeface-amiko';
@import 'typeface-bungee-inline';
@import '@fontsource/swanky-and-moo-moo';
@import 'typeface-pacifico';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
   
}



/*======---------- body backgrond ---------*/

.main{
    position: relative;
    display: flex;
    align-items: cener;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    
    
    
}

.nn{
    position: absolute;
    display: flex;
    gap: 50px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    
}
.nnlp {
    
    background-color: #143C3F;
    width: 1px;
    height: 100vh;
    top: 0;
    
}

.nnlb{
    
    background-color: #CA1010;
    width: 1px;
    height: 100vh;
    top: 0;
   
}
 /*======---------- end body backgrond ---------*/

 /*======---------- Line ================ ---------*/

.line{
    display: flex;
    position: absolute;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    top: 0;
    left: 0;
    padding-top: 10rem;
}

.line .red{
    position: absolute;
    display: flex;
    width: 100rem;
    height: 5rem;
    align-items: center;
    gap: 40px;
    background-color: #CA1010;
    z-index: 5;
    transform: rotate(-27deg);
    border: 2px solid black;
    color: aliceblue;
    

}


.line .green{
    position: absolute;
    display: flex;
    width: 100rem;
    height: 5rem;
    gap: 40px;
    align-items: center;
    background-color: #143C3F;
    z-index: 10;
    transform: rotate(27deg);
    border: 2px solid black;
    color: aliceblue;
}

.green p,
.red p {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    letter-spacing: 3.5px;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Pacifico', cursive;

}

.red  .rur{
    display: flex;
    transform: rotate(25deg);
   
}

.green .gur{
    display: flex;
    transform: rotate(-25deg);
}

/*======---------- End Line ============ ---------*/
 .s{
    position: relative;
    top: 18rem;
    left: 5rem;
}

 .c{
    position: relative;
    top: 27rem;
    left: 50rem;
}

 .g{
    position: relative;
    display: flex;
    right: 10rem;
    top: 8rem;
    z-index: 5;
}

.tex{
    position: absolute;
    display: flex;
    height: 12rem;
    align-items: center;
    top: 0;
}

.tex h2{
    font-size: 80px;
    color: #a86526b7;
    letter-spacing: 30px;
    line-height: 6.5rem;
    font-family: "Bungee Shade";
}

/*------------------page - 2 ----------------*/

.ruo{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-top: 1px solid #143C3F;
    overflow: hidden;
}

.r{
    position: absolute;
    background-color: #143C3F;
    width: 40rem;
    height: 40rem;
    border-radius: 360px;
    top: -15rem;
    left: -15rem;
    overflow: hidden;
}

.o{
    position: absolute;
    background-color: rgba(168, 101, 38, 0.815);
    width: 45rem;
    height: 45rem;
    border-radius: 360px;
    bottom: -10rem;
    right: -12rem;
    overflow: hidden;
}

.l{
    position: absolute;
    padding-left: 10px;
    width: 100%;
    height: 14rem;
    bottom: 0;
    background-color: #143C3F;
    overflow: hidden;
}

.box-about{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 14rem;
    background-color: #ffffff;
    border-top: 1px solid black;
    left: 0;
    z-index: 10;
    overflow: hidden;
    
}

.w,
.w2{
    position: relative;
    display: flex;
    line-height: 4.7rem;
    gap: 10px;
    font-family: 'Bungee Inline', cursive;
}


.w,.w2 p{
font-size: 70px;
color: white;
letter-spacing: 10;

}

.w .n-b,
.w2 .n-b2{
    font-size: 70px;
    color: #CA1010;
    letter-spacing: 10px;
    
}

.sou{
    position: absolute;
    display: grid;
    align-items: center;
    padding: 5px;
    gap: 1px;
    height: 14rem;
    width: 2.5rem;
    left: 0;
}

.tex-about{
    position: relative;
    margin-top: 10px;
    margin-left: 24px;
    font-size:19px;
    letter-spacing: 1px;
    font-family: 'Swanky and Moo Moo', cursive;
    z-index: 15;
}



.s-box,
.s-box2,
.s-box3,
.s-box4{
display: flex;
align-items: center;
justify-content: center;
background-color: #D9D9D9;
width: 2.5rem;
height: 2.5rem;
border: 1px solid #ffffff;
color: #143C3F;
z-index: 10;
border-radius: 5px;
}

.s-box4:hover{
    background-color: #1E1E1E;
    color: #ffffff;
}

.s-box:hover{
    background-color: #ff8fab;
    color: #835361;
}

.s-box3:hover{
    background-color: #0077b6;
    color: #ffffff;
}

.s-box2:hover{
    background-color: #f72585;
    color: #ffffff;
}

.v5{
    position: absolute;
    display: flex;
    z-index: 5;
    left: 0;
}

.v4{
    position: absolute;
    display: flex;
    z-index: 5;
    right: 0;
}
/*---------------card--------------*/


.cards{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    width: 100%;
}
.card{
    position: relative;
    width: 12rem;
    height:13rem;
    background-color: #A86526;
    border-radius: 10px 10px 0px 0px; 
    
    
}
.card:nth-child(1){
    background-image: url(/Noise1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.card2{
    position: relative;
    width: 12rem;
    height:13rem;
    background-color: #143C3F;
    border-radius: 10px 10px 0px 0px; 
}
.card2:nth-child(1){
    background-image: url(/Noise3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.card3{
    position: relative;
    width: 12rem;
    height:13rem;
    background-color: #CA1010;
    border-radius: 10px 10px 0px 0px; 
    border:0px 0px 2px 2px solid black;
    
}
.card3:nth-child(1){
    background-image: url(/Noise2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10; 
}

.sar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 360px;
    border-bottom: 3px solid #1E1E1E;
    font-family: 'Pacifico', cursive;

}
.del{
    display: block;
    
}

.dvo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 2rem;
    background-color: #143C3F;
    color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #ffffff;
}

.dvo2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 2rem;
    background-color: #CA1010;
    color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #ffffff;
}

.dvo3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 2rem;
    background-color: #143C3F;
    color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #ffffff;
}
.dvo,
.dvo2,
.dvo3 p{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Amiko', sans-serif;

}

.card-img,
.card-img2{
    position: relative;
    width: 400px;
    height: 400px;
    bottom: 10rem;
    right: 5rem;
    transform: rotate(10deg);
}

.card-img3{
    position: relative;
    width: 300px;
    height: 300px;
    bottom: 7rem;
    left: -1rem;
    transform: rotate(10deg);
}

.text{
    position: relative;
    display: grid;
    padding: 10px 10px 10px 10px;
    width: 11rem;
    margin-right: 24px;
    height: 15rem;
}

.tit{
    position: absolute;
    width: 14rem;
    letter-spacing: 1px;
    line-height: 23px;
    font-size: 20px;
    font-weight: 700;
    top: 18px;
    transform: rotate(-20deg);
    font-family: "Bungee Shade";
    opacity: 40%;

}

.ptex{
    position: relative;
    font-size: 18px;
    margin-top: 15px;
    color: #1E1E1E;
    font-family: 'Swanky and Moo Moo', cursive;

    
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
}

.card-img3,
.card-img {
    animation: moveUpDown 2s linear infinite;
}
.card-img2 {
    animation: moveUpDown 3s linear infinite;
}

/*========== a ===============*/

@keyframes carousel {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  @keyframes carousel-reverse {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
  }
  
  .scrol1, .scrol2 {
    overflow: hidden;
  }
  
  
  .w {
    animation: carousel 16s infinite linear;
  }
  
  .w2 {
    animation: carousel-reverse 15s infinite linear;
  }
  
  .n-b, .n-b2 {
    flex: 100%;
  }
  .scrol1{
    display: inline-flex;
  }
  .scrol2{
    display: inline-flex;
  }
